@using PagedList.Mvc
@model PagedList.IPagedList <OA.Domain.Core.Entitys.tbExpertizy>


<div> class="col-12">
    <div class="dropdown">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Звіти <i class="fa fa-angle-down"></i></a>
        <div class="dropdown-menu header-menu-dropdown">
            <a class="dropdown-item" href="@Url.Action("Operator1Reports", "Reports")">Звіти Оператора 1</a>
            <a class="dropdown-item" href="@Url.Action("Operator2Reports", "Reports")">Звіти Оператора 2</a>
            <a class="dropdown-item" href="@Url.Action("ControlerReports", "Reports")">Звіти Контролера</a>
            <a class="dropdown-item" href="@Url.Action("ManagerReports", "Reports")">Звіти Керівника</a>
        </div>
    </div>
</div>

@{
    ViewBag.Title = "Головна";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />

<div id="allviewResult">
    <div class="row">
        @{int i = 1; }
        @{char slash = '/'; }
        @foreach (var item in Model)
        {

            if (item.N2.ToString() == String.Empty && item.N3.ToString() == String.Empty) { slash = ' '; }

            else { slash = '/'; }

            <div class="col-md-12">
                <div class="card d-flex">
                    <div class="card-body" style=" display: inherit; padding: 12px;">
                        <h5 class="card-title"> <a id="@i" class="expertiseNumber"> @Html.DisplayFor(modelItem => item.N1) @slash @Html.DisplayFor(modelItem => item.N2) @slash @Html.DisplayFor(modelItem => item.N3)</a></h5>
                        <div class="col-md-10">@Html.DisplayFor(modelItem => item.mTitleDoc)</div>
                    </div>
                </div>

            </div>


            i++;
        }
    </div>
    <div id="indexContainer" style="margin-top:3px">
        @{Html.RenderAction("AllExpertisesView", "Expertise");}
</div>
    @if (Model.Count > 0)
    {
        <div class="text-center ml-2">
            <div class="small">
                Сторінка @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) з @Model.PageCount
            </div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "indexContainer" }))
        </div>
    }
    @if (Model.Count == 0)
    {
        <div>
            <h3 class="text-danger text-center">За даними параметрами нічого знайдено не було...</h3>
        </div>
    }
</div>
